{% extends 'website_layout.html' %}
{% load static %}
{% block extra_style %}
      <!-- ======= EXTRA STYLE GOES IN HERE ======= -->
  <link rel="stylesheet" href="{% static 'home/styles/extra.css' %}">
{% endblock %}
{% block main_content %}
{% load static %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>ABOUT {% if site_info.site_name %} {{ site_info.site_name|upper }} {% endif %}</h2>
          <p>{% if site_info.site_name %} <span>{{ site_info.site_name|title }}</span> {% else %} <span>Sparrow</span> {% endif %} is a School Tech solution company that deals on all types of school software for easier management of school data. we are a subsection of our mother company <a target="_blank" href="http://www.core3dsolutions.com">core-3D-solutions</a>.</p><br />
          <p>We are concerned in eradicating all manner of complexity that arises as a result of school management, and also bring simplicity to all processes. At {% if site_info.site_name %} <span>{{ site_info.site_name|title }},</span> {% else %} <span>Sparrow,</span>  {% endif %} we develop software that are powerful and are easy to use for school staff and owner.</p> <br />
          <p>We also take tutorials and trainings for school students in different aspects of ICT courses.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>OUR MISSION</h2>
          <p>Our mission at {% if site_info.site_name %} <span>{{ site_info.site_name|title }}</span> {% else %} <span>Sparrow</span> {% endif %} is to enable schools to be ran seamlessly and make handling and interpretation of students data easy.</p><br />
          <p>We also aim to supply schools with all the required ICT gadgets that would assist them in school management</p><br />
          <p>We also aim to tutor and mentor students in acquiring Tech skills so as to gain some level of ICT expertise, to also be able to easily understand otherwise complex ICT terms and gadgets.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>OUR VISION</h2>
          <p>Our Vision at {% if site_info.site_name %} <span>{{ site_info.site_name|title }}</span> {% else %} <span>Sparrow</span> {% endif %} is to become the leading school software provider in the country in the next few year to come, and to enable schools fully abolish all complexities in the handling of school data and activities.</p><br />
          <p>We also plan to be the guiding light for students across all corners of the country in all TECH related areas. we aim to have trained over 1 million students to become specialist in the field of TECH.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->


<!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>The good work we provide is the direct result of the efforts put in by our never relenting team members.</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <div class="pic"><img src="{% static 'home/images/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Engr. Odeke Isaac</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'home/images/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Engr. Obumneme Clement</h4>
                <span>Software Engineer</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="{% static 'home/images/team/team-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Engr. Onuigbo Tobechukwu</h4>
                <span>Software Engineer</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{% static 'home/images/team/team-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Engr. David Michael</h4>
                <span>Software Engineer</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

{% endblock %}