{% extends 'website_layout.html' %}
{% load static %}
{% block extra_style %}
      <!-- ======= EXTRA STYLE GOES IN HERE ======= -->
  <link rel="stylesheet" href="{% static 'home/styles/extra.css' %}">
{% endblock %}
{% block main_content %}
{% load static %}
<!-- ======= About Us Section ======= -->

<section id="about" class="about">
   <div class="section-title">
     <h2 class="text-center">OUR SERVICE</h2>
   </div>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>SOFTWARE DEVELOPMENT</h2>
          <p>At {% if site_info.site_name %} <span>{{ site_info.site_name|title }},</span> {% else %} <span>Sparrow,</span> {% endif %} we design all types of software solution for not just schools but also other types of business.</p><br />
          <p>We also develop all type of websites for organizations. The sites are light weight, fast, user friendly and well optimized for easy access.</p> <br />
          <p>We develop mobile and desktop applications for organizations to meet up with their service need.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>TECH TUTORIAL</h2>
          <p>At {% if site_info.site_name %} <span>{{ site_info.site_name|title }},</span> {% else %} <span>Sparrow,</span> {% endif %} we train and tutor students and other youths in various ICT fields. We guide them from beginner level until they are well advanced and job ready. We also guide students on tips for successful job recruitments.</p><br />
          <p>We train students on the most trending and sort for programming languages currently in the world.</p><br />
          <p>We also train students on tech skill acquisitions such as solar and cctv installations, computer repairs and other relevant Tech skills to make them self sustainable.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>HARDWARE SUPPLY</h2>
          <p>We supply a variety of computer hardware devices to schools and similar organizations. We ensure the devices are sound and of optimum quality to meet and exceed the expected purpose.</p><br />
          <p>We supply Laptops, Desktops, Iphones and Tablets, computer accessories, projectors and speakers, games accessories and gadgets and whole lot more.</p><br />
          <p>We also run maintenance and repairs of some computer hardware and accessories to ensure maximum operational standards.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->


<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>DATA ANALYSIS AND VISUALIZATION</h2>
          <p>We collect, Study, Analise and Visualise various forms of data for both schools and other organizations. We make meaning of otherwise very complex and vague data and also provide insights from raw and unfiltered data.</p><br />
          <p>We are into data analysis, model design, data visualization, forecasting and predictions. we also design and develop applications that perform such task.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->


<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="{% static 'home/images/about.jpg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>GENERAL ICT CONSULTATION</h2>
          <p>At {% if site_info.site_name %} <span>{{ site_info.site_name|title }},</span> {% else %} <span>Sparrow,</span> {% endif %} we engage in general ICT consultations, so feel free to contact us at any time of the day when you have any ICT related challenge, Our ever ready Tech team are here to give you an optimum solution.</p><br />
          <p>You can consult us on matters related to any of our service and even beyond. We can be consulted on matters such as Software development, Hardware Purchase, Career decision, Educational Tech Challenges, Data related Challenges, and any other tech related problems.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

{% endblock %}