{% extends 'website_layout.html' %}
{% load static %}
{% block extra_style %}
      <!-- ======= EXTRA STYLE GOES IN HERE ======= -->
  <link rel="stylesheet" href="{% static 'home/styles/extra.css' %}">
{% endblock %}
{% block main_content %}
{% load static %}

<section id="about" class="about">
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">

            <div class="card-body">
                <h4 class="card-title text-center" style="color:black"><b>SCHOOL REGISTRATION</b></h4>
                <form class="form-sample">
                  <p class="card-description"> SCHOOL INFORMATION </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">School Name</label>
                          <div class="col-sm-9">
                            {{form.name}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">School Email</label>
                          <div class="col-sm-9">
                            {{form.email}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">School Type</label>
                          <div class="col-sm-9">
                            {{form.type}}
                          </div>
                        </div>
                      </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">School Address</label>
                          <div class="col-sm-9">
                            {{form.address}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Line One</label>
                            <div class="col-sm-9">
                              {{form.line_one}}
                            </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Line Two</label>
                          <div class="col-sm-9">
                            {{form.line_two}}
                          </div>
                        </div>
                      </div>
                    </div>

                    <p class="card-description"> Personal Information </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Name</label>
                          <div class="col-sm-9">
                            {{form.applicant_name}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Email</label>
                          <div class="col-sm-9">
                            {{form.applicant_email}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Phone</label>
                          <div class="col-sm-9">
                            {{form.applicant_phone}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Position</label>
                          <div class="col-sm-9">
                            {{form.applicant_position}}
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
          <button style="width:150px;margin:10px" class="btn btn-primary btn-rounded">Register School</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section><!-- End About Us Section -->
{% endblock %}