{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}
<div class="page-header">
    <h3 class="page-title"> CLASS INFORMATION: <i>{{class.name}} ( {{class.code}} )</i> </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'school_admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'school_admin_class_create' %}">Add Class</a></li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Are you sure you want to delete <i>"{{class.name}}"</i> as a class? </h4>
            {% if class_student == 0 %}
                <p>There is currently no student in the class</p>
            {% elif class_student == 1 %}
                <p>There is one student currently in the class</p>
                <p>Student Data maybe lost</p>
                <p>Please Change his/her class before proceeding to delete the class</p>
            {% elif class_student > 1 %}
                <p>There are {{ class_student }} student currently in the class</p>
                <p>Students Data maybe lost</p>
                <p>Please Change their class before proceeding to delete the class</p>
            {% endif %}
            <form style="display:inline" method="post">
                {% csrf_token %}
                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'school_admin_class_detail' class.id %}"> Cancel</a>
        </div>
    </div>
</div>

{% endblock %}