{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}
<div class="page-header">
    <h3 class="page-title"> STAFF INFORMATION: <i>{{ parent.title|title }} {{ parent.surname|title }} {% if parent.middle_name %} {{ parent.middle_name|title }} {% endif %} {{ parent.last_name|title }}</i> </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'school_admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'school_admin_parent_create' %}">Add Parent</a></li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Are you sure you want to delete <i>"{{ parent.surname|title }} {% if parent.middle_name %} {{ parent.middle_name|title }} {% endif %} {{ parent.last_name|title }} "</i> as a parent? <img style="display:inline;width:100px;height:100px;border-radius:5px;" src="/media/{{ parent.image }}" /></h4>
            <p>If you delete a parent, data regarding that parent, such as his/her wards may be lost</p>
            {% if student_list %}
            <p>{{ parent.surname|title }} {% if parent.middle_name %} {{ parent.middle_name|title }} {% endif %} {{ parent.last_name|title }} is the parent of following students, and some of their data might be lost if you proceed</p>
                {% for student in student_list %}
            <li>{{ student.surname|title }} {% if student.middle_name %} {{ student.middle_name|title }} {% endif %} {{ student.last_name|title }} ( <i>class</i>: {{ student.student_class|upper }}, <i>status</i>: <span {% if student.status|lower == "active" %} class="text-success" {% else %} class="text-danger" {% endif %}> {{ student.status|upper }}</span> )</li>
                {% endfor %}
            {% else %}
                <p>This parent currently has no ward in the school</p>
            {% endif %}
            <br />
            <form style="display:inline" method="post">
                {% csrf_token %}
                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'school_admin_parent_detail' parent.id %}"> Cancel</a>
        </div>
    </div>
</div>

{% endblock %}