{% extends 'admin_layout.html' %}
{% block 'main_content' %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">WEBSITE INFORMATION SETUP</h4>
        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SITE NAME</label>
                <div class="col-sm-9">
                  {{form.site_name}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SITE LOGO</label>
                <div class="col-sm-9">
                  {{form.site_image}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SITE INFO EMAIL</label>
                <div class="col-sm-9">
                  {{form.site_info_email}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SITE SUPPORT EMAIL</label>
                <div class="col-sm-9">
                  {{form.site_support_email}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">MOBILE ONE</label>
                <div class="col-sm-9">
                  {{form.site_line_one}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">MOBILE TWO</label>
                <div class="col-sm-9">
                  {{form.site_line_two}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">FACEBOOK</label>
                <div class="col-sm-9">
                  {{form.site_social_facebook}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">TWITTER</label>
                <div class="col-sm-9">
                  {{form.site_social_twitter}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">INSTAGRAM</label>
                <div class="col-sm-9">
                  {{form.site_social_instagram}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">LINKED-IN</label>
                <div class="col-sm-9">
                  {{form.site_social_linkedin}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">YOU TUBE</label>
                <div class="col-sm-9">
                  {{form.site_social_youtube}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">VIDEO LINK</label>
                <div class="col-sm-9">
                  {{form.site_social_youtube_video_link}}
                </div>
              </div>
            </div>
          </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ADDRESS</label>
                            <div class="col-sm-9">
                              {{form.site_address}}
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">DESCRIPTION</label>
                            <div class="col-sm-9">
                              {{form.site_description}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
          <button style="width:150px;margin:10px" class="btn btn-primary btn-rounded">SAVE</button>
                </div>

              </div>
    </div>
</form>
{%endblock %}