{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}
<div class="page-header">
    <h3 class="page-title"> SUBJECT INFORMATION: <i>{{subject.name}} ( {{subject.code}} )</i> </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'school_admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'school_admin_subject_create' %}">Add Subject</a></li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Are you sure you want to delete <i>"{{subject.name}}"</i> as a subject?</h4>
            {% if class_list %}
                <p>The subject is currently been offered by the following classes</p>
                {% for class in class_list %}
                    <li><label>{{ class.name }}</label></li>
                {% endfor %}
            {% else %}
                <p>No Class is currently offering the subject</p>
            {% endif %}
            <form style="display:inline" method="post">
                {% csrf_token %}
                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'school_admin_subject_detail' subject.id %}"> Cancel</a>
        </div>
    </div>
</div>

{% endblock %}