{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">ADD SUBJECTS TO <i>{{form.name.value}} ( {{form.code.value}} )</i></h4>
        <form method="POST" class="form-sample">
          {% csrf_token %}
          <div style="display:none">{{form.name}} {{form.code}} {{form.form_teacher}} {{form.assistant_form_teacher}}</div>
            <input type="hidden" name="school" value="{{user_school.id}}" />
            <input type="hidden" name="name" value="{{form.name.value}}" />
            <input type="hidden" name="code" value="{{form.code.value}}" />
            {{form.subjects}}
            <button style="width:150px;margin:10px" class="btn btn-primary btn-rounded">Assign</button>

        </form>
      </div>
    </div>
  </div>
</div>
{%endblock %}