{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}
<div class="page-header">
    <h3 class="page-title"> STUDENT INFORMATION: <i> {{ student.surname|title }} {% if student.middle_name %} {{ student.middle_name|title }} {% endif %} {{ student.last_name|title }}</i> </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'school_admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'school_admin_staff_create' %}">Add Student</a></li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">ACTIONS:
                <a href="{% url 'school_admin_student_edit' student.id %}" class="btn btn-primary">EDIT STUDENT</a>
                <a href="{% url 'school_admin_student_delete' student.id %}" class="btn btn-danger">DELETE STUDENT</a>
            </h4>
        </div>
    </div>
</div>

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="card-description"> PERSONAL INFORMATION </p>
                    <div class="row">
                        <div class="col-md-4">
                            <image src="/media/{{ student.image }}" style="width:100px;height:100px;border-radius:5px;" />
                            <p style="margin-top:5px;">Status: <span class="text-center {% if student.status|lower == 'active' %} text-success {% else %} text-danger {% endif %} "> {{student.status|upper}} </span> </p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ student.surname|title }} {% if student.middle_name %} {{ student.middle_name|title }} {% endif %} {{ student.last_name|title }}</p>
                            <p>{% if student.registration_number %} {{student.registration_number|upper}} {% else %} NO REGISTRATION NUMBER {% endif %}</p>
                            <p>{{student.student_class|upper}} </p>
                            <p>{% if student.mobile %} {{student.mobile|title}} {% else %} Mobile Not Provided {% endif %}</p>
                            <p>{% if student.email %} {{student.email|title}} {% else %} Email Not Provided {% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="card-description"> PARENT INFORMATION </p>
                    <div class="row">
                        <div class="col-md-4">
                            <image src="/media/{{ student.parent.image }}" style="width:100px;height:100px;border-radius:5px;" />
                            <p style="margin-top:5px;"><span class="text-center text-success">STUDENT's {{student.relationship_with_parent|upper}} </span> </p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ student.parent.title|title }} {{ student.parent.surname|title }} {% if student.parent.middle_name %} {{ student.parent.middle_name|title }} {% endif %} {{ student.parent.last_name|title }}</p>
                            <p>{% if student.parent.mobile %} {{student.parent.mobile|title}} {% else %} Mobile Not Provided {% endif %}</p>
                            <p>{% if student.parent.email %} {{student.parent.email|title}} {% else %} Email Not Provided {% endif %}</p>
                            <p>{% if student.parent.residential_address %} {{student.parent.residential_address|title}} {% else %} Address Not Provided {% endif %}</p>
                            <p><a class="btn btn-primary" href="{% url 'school_admin_parent_detail' student.parent.id %}">View</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="card-description"> OTHER INFORMATION </p>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Nationality : <i><b>{% if student.nationality %} {{ student.nationality }} {% else %} Not Provided {% endif %}</b></i></p>
                            <p>State of Origin : <i><b>{% if student.state_of_origin %} {{ student.state_of_origin }} {% else %} Not Provided {% endif %}</b></i></p>
                            <p>L G A : <i><b>{% if student.lga %} {{ student.lga }} {% else %} Not Provided {% endif %}</b></i></p>
                            <p>Religion : <i><b>{% if student.religion %} {{ student.religion }} {% else %} Not Provided {% endif %}</b></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="card-description"><br /></p>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Class : <i><b>{% if student.student_class %} {{ student.student_class }} {% else %} Not in any Class {% endif %}</b></i></p>
                            <p>Date of Birth : <i><b>{% if student.date_of_birth %} {{ student.date_of_birth }} {% else %} Not Provided {% endif %}</b></i></p>
                            <p>Age : <i><b>{% if student.date_of_birth %} 19 Years {% else %} Not Provided {% endif %}</b></i></p>
                            <p>Status : <i><b><span class="text-center {% if student.status|lower == 'active' %} text-success {% else %} text-danger {% endif %} "> {{student.status|upper}} </span></b></i></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}