<!--{% load static %}-->

<!--<link rel="stylesheet" href="{% static 'sparrow_admin/vendors/mdi/css/materialdesignicons.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'sparrow_admin/vendors/css/vendor.bundle.base.css' %}">-->
<!--    &lt;!&ndash; endinject &ndash;&gt;-->
<!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
<!--    &lt;!&ndash; End Plugin css for this page &ndash;&gt;-->
<!--    &lt;!&ndash; inject:css &ndash;&gt;-->
<!--    &lt;!&ndash; endinject &ndash;&gt;-->
<!--    &lt;!&ndash; Layout styles &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'sparrow_admin/styles/style.css' %}">-->