{% load static %}

    <link rel="stylesheet" href="{% static 'sparrow_admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'sparrow_admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'sparrow_admin/styles/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'sparrow_admin/images/favicon.png' %}" />