{% extends 'admin_layout.html' %}
{% block 'main_content' %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row">
    <div class="col-4 grid-margin">
        <a href="{% url 'school_academic_setting_create' request.session.user_school_id %}">
            <div class="card btn btn-success">
                <div class="card-body btn btn-primary"><br />
                    <h4 class="card-title btn btn-success text-center"><b>ACADEMIC SETTINGS</b></h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4 grid-margin">
        <a href="">
            <div class="card btn btn-success">
                <div class="card-body btn btn-primary"><br />
                    <h4 class="card-title btn btn-success text-center"><b>REGISTRATION SETTINGS</b></h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4 grid-margin">
        <a href="">
            <div class="card btn btn-success">
                <div class="card-body btn btn-primary"><br />
                    <h4 class="card-title btn btn-success text-center"><b>RESULT SETTINGS</b></h4>
                </div>
            </div>
        </a>
    </div>
</div>
</form>
{%endblock %}