{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}
<div class="page-header">
    <h3 class="page-title"> STAFF INFORMATION: <i>{{ staff.title|title }} {{ staff.surname|title }} {% if staff.middle_name %} {{ staff.middle_name|title }} {% endif %} {{ staff.last_name|title }}</i> </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'school_admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'school_admin_staff_create' %}">Add Staff</a></li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Are you sure you want to delete <i>"{{ staff.surname|title }} {% if staff.middle_name %} {{ staff.middle_name|title }} {% endif %} {{ staff.last_name|title }} "</i> as a staff? <img style="display:inline;width:100px;height:100px;border-radius:5px;" src="/media/{{ staff.image }}" /></h4>
            <p>If you delete a staff, data regarding that staff may be lost</p>
            {% if form_teacher or assistant_form_teacher %}
                {% if form_teacher %}
                    <p>{% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is the form teacher of
                        {% if form_teacher|length == 1 %}
                            {% for class in form_teacher %} {{ class.name }} {% endfor %}
                        {% endif %}
                        {% if form_teacher|length > 1 %}
                            {% for class in form_teacher %} {{ class.name }}, {% endfor %}
                        {% endif %}</p>
                {% else %}
                    <p>{% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is not the form teacher of any class</p>
                {% endif %}

                {% if assistant_form_teacher %}
                    <p>{% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is the assistant form teacher of
                        {% if assistant_form_teacher|length == 1 %}
                            {% for class in assistant_form_teacher %} {{ class.name }} {% endfor %}
                        {% endif %}
                        {% if assistant_form_teacher|length > 1 %}
                            {% for class in assistant_form_teacher %} {{ class.name }}, {% endfor %}
                        {% endif %}</p>
                {% else %}
                    <p>{% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is not the assistant form teacher of any class</p>
                {% endif %}
            {% else %}
                <p>{% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is neither a form teacher nor assistant form teacher of any class</p>
            {% endif %}
            {% if subject_list %}
                <p> {% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is currently handling the following subjects: {% for subject in subject_list %} {{ subject.name }}, {% endfor %}</p>
            {% else %}
                <p>{% if staff.gender|lower == 'male' %} He {% elif staff.gender|lower == 'female' %} She {% else %} He/She {% endif %} is currently not handling any subject</p>
            {% endif %}
            <form style="display:inline" method="post">
                {% csrf_token %}
                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'school_admin_staff_detail' staff.id %}"> Cancel</a>
        </div>
    </div>
</div>

{% endblock %}