{% extends 'school_admin_layout.html' %}
{% block 'main_content' %}
<div class="page-header">
    <h3 class="page-title"> My Schools Staff</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 's_admin:admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'school_admin_staff_create' %}">Add Staff</a></li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">List of Staff in the School</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th> Image </th>
                            <th> Fullname </th>
                            <th class="text-center"> Registration No </th>
                            <th> Position </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if staff_list %}
                    {% for staff in staff_list %}
                        <tr>
                            <td> <image src="/media/{{ staff.image }}" /> </td>
                            <td> {{ staff.title|title }} {{ staff.surname|title }} {% if staff.middle_name %} {{ staff.middle_name|title }} {% endif %} {{ staff.last_name|title }} </td>
                            <td class="text-center"> {% if staff.registration_number %} {{ staff.registration_number }} {% else %} NOT GIVEN {% endif %} </td>
                            <th>{{ staff.position }} </th>
                            <td> <a class="btn btn-primary" href="{% url 'school_admin_staff_detail' staff.id %}">View</a> </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="5"><h3 class="text-center">No Staff is currently registered</h3></td></tr>

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}